.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 20px;
}

form input {
  height: 40px;
  flex-basis: 80%;
}

form button {
  flex-basis: 20%;
  cursor: pointer;
}

.outerDiv{
  width: 70%;
  margin: auto;
}

.outerDiv ul {
  
  margin: 0px;
  margin-top: 50px ;
  padding: 0px;
  list-style: none;
}
.outerDiv ul li {
  color: white;
  background-color: rgb(19, 6, 6);
  text-align: left;
  padding: 10px;
  position: relative;
  font-size: 20px;
  margin-bottom: 20px;
}
.outerDiv ul li span {
  right: 20px;
  cursor: pointer;
  position: absolute;
}
.completeTodo{
  text-decoration: line-through;
  color: red !important ;
  background-color: yellow !important;
}
.tabsOuter {
  width: 70%;
  margin: auto;

}

.tabsOuter ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  gap: 10px;
}

.tabsOuter ul li button{
  background-color: whitesmoke;
  color: black;
  border: none;
  cursor: pointer;
  padding: 0.5rem 20px;
  margin-right: 18px;
  font-weight: 600;
}
.activeButton{
  background-color: #61dafb !important;
}
